{% extends 'app/base_site.html' %}
{% block meta %}{% endblock %}
{% block title %}书籍屋-登陆{% endblock title %}
{% block style %}{% endblock style %}

{% block exclude_footer %}
    <div class="login_top clearfix">
        <a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
    </div>

    <div class="login_form_bg">
        <div class="login_form_wrap clearfix">
            <div class="login_banner fl"></div>
            <div class="slogan fl">日夜兼程 · 急速送达</div>
            <div class="login_form fr">
                <div class="login_title clearfix">
                    <h1>用户登录</h1>
                    <a href="{% url 'home:register' %}">立即注册</a>
                </div>
                <div class="form_input">
                    <form method="post">
                        <input type="text" name="username" class="name_input" placeholder="请输入用户名">
                        <input type="password" name="password" class="pass_input" placeholder="请输入密码">
                        <div class="pwd_error">{{ erro }}</div>
                        <div class="more_input clearfix">
                            <input type="checkbox" name="">
                            <label>记住用户名</label>
                        </div>
                        <input type="submit" name="" value="登录" class="input_submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock exclude_footer %}


{% block script %}{% endblock script %}